@import "standards"

body
  font-family: 'Open Sans', sans-serif
  font-size: 18px !important

.finstat__gap,
.finstat__gap-right
  padding-right: $gap

.finstat__gap,
.finstat__gap-left
  padding-left: $gap

/* Интерактивные элементы

.finstat__show-on-hover, .finstat-hidden
  visibility: hidden

.finstat__show-on-hover_area:hover .finstat__show-on-hover, .finstat__show-on-hover:hover
  visibility: visible

.finstat__icon
  background-color: gray
  border-radius: 100%

.finstat__separator
  border-right: 1px solid rgb(127, 127, 127)
  border-right: 1px solid rgba(127, 127, 127, 0.5)
  -webkit-background-clip: padding-box

  /* for Safari
  background-clip: padding-box

/* for IE9+, Firefox 4+, Opera, Chrome

.finstat__fast-date-switcher
  position: absolute

  /*display: inline-block;
  text-align: right

  /*vertical-align: middle;
  right: 100%
  padding-right: 8px

.finstat__extra-switcher
  position: absolute
  left: 100%
  padding-left: 8px
  top: 0

.finstat__tall-row.row
  position: relative

.finstat__highlight-row:hover
  background-color: lightyellow

.finstat__tall-row > div
  padding-top: 2em
  padding-bottom: 0.5em

.finstat__money
  width: 90px

.finstat__add-icon:hover, .finstat__remove-icon:hover, .finstat__submit-icon:hover
  color: orange

.finstat__element-comment,
.finstat__element-category,
.finstat__element-account
  cursor: pointer

.finstat__show-on-hover_area:hover .finstat__element-comment:empty,
.finstat__show-on-hover_area:hover .finstat__element-category:empty,
.finstat__show-on-hover_area:hover .finstat__element-account:empty
  &::before
    content: "+" attr(data-title)

  color: gray
  text-decoration: underline
  white-space: nowrap

.finstat__show-on-hover_area:hover .finstat__element-comment:empty::before
  font-size: 0.8em

.finstat__element-category:empty ~ .finstat__show-on-hover
  visibility: hidden

.finstat__submit-icon
  margin: auto 5px

.ext__editable-for-insert:hover, .ext__editable-for-update:hover
  text-decoration: underline

.finstat__action
  cursor: pointer

.finstat__action:hover
  color: $color-active

.finstat__implicit-value
  color: blueviolet

.finstat__agg-table td:nth-child(1)
  text-align: right
  padding-right: 10px

nav
  background-color: #999999
  position: relative
  a
    &:link
      color: #DDD
    &:visited
      color: #DDD
    &:hover
      color: orange
    &:active
      color: orangered

  .format__disabled
    a
      text-decoration: none
      pointer-events: none

  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      color: #DDD
      padding-right: 20px
      display: inline

  &~h1
    margin-top: 15px

  &::before
    background-color: #999999
    content: "\00a0"
    position: absolute
    top: 0
    bottom: 0
    left: -100vw
    right: 100%

  &::after
    background-color: #999999
    content: "\00a0"
    position: absolute
    top: 0
    bottom: 0
    left: 100%
    right: -100vw

#finstat__logo
  margin-left: 20px
  position: relative
  &::before
    content: "∮"
    position: absolute
    left: -0.6em
    font-size: 2em
    margin-top: -0.5em