{% load transactions_extras %}

{% for index, item in data %}
   <div class="finstat__bar finstat-show_on_hover-area">
      <div class="finstat__bar-index">{{ index }}</div>
      <div class="finstat__bar-period">
         <div {% ifchanged item.period.year %} {% else %} class="finstat-show_on_hover" {% endifchanged %}>
            {{ item.period |date:"Y"}}
         </div>
         <div {% ifchanged item.period.year item.period.month %}
              {% else %} class="finstat-show_on_hover" {% endifchanged %}>
            {{ item.period |date:"M"}}
         </div>
         <div {% ifchanged item.period %} {% else %} class="finstat-show_on_hover" {% endifchanged %}>
            {{ item.period |date:"d"}}
         </div>
      </div>
      <div class="finstat__bar-content">
         {% if interval %}
         <div class="finstat__bar-income">{% if item.income > 0 %} +{{ item.income }} {% endif %}</div>
         <div class="finstat__bar-outcome">{% if item.outcome > 0 %} -{{ item.outcome }} {% endif %}</div>
         {% else %}
            {% if item.income > 0 %}
               <div class="finstat__bar-income"> +{{ item.income }} </div>
            {% else %}
               <div class="finstat__bar-outcome"> -{{ item.outcome }} </div>
            {% endif %}
            <div class="finstat__bar-category css__ellipsis">
               {{ item.category }}
            </div>
            <div class="finstat__bar-comment css__ellipsis">
               {{ item.comment }}
            </div>
         {% endif %}
      </div>
{#      <div class="finstat-show_on_hover finstat__icon">#}
{#         +#}
{#      </div>#}
   </div>
{% endfor %}
