{% extends "finstat/transactions/index.html"|pjax:request %}

{% load transactions_extras %}

{% block title %}
   Transactions, page {{ paging.index }}
{% endblock %}

{% block content %}
   <div>
      {% if paging.prev %}
         <a href='/finstat/transactions/page{{ paging.prev }}' data-pjax>Предыдущая страница </a>
      {% endif %}
      {% if paging.next %}
         <a href='/finstat/transactions/page{{ paging.next }}' data-pjax>Следующая страница</a>
      {% endif %}
   </div>

   <div class="finstat__day finstat__show-on-hover_area">
   {% for index, item in records %}
      {% ifchanged item.period %}
   </div>
   <div class="finstat__day finstat__show-on-hover_area">
         <div class="row finstat__tall-row">
            <div class="col-md-3 "></div>
            <div class="col-md-3 finstat__separator format__right">
               <button type="button" class="finstat__show-on-hover btn btn-default" data-toggle="modal"
                       data-target="#finstat__new-record_dialog">
                  <span class="glyphicon glyphicon-plus"></span>
                  Add
               </button>
               <span>{{ item.period }}</span>
            </div>
            <div class="col-md-2">
               <span class="finstat__bar-income"> +{{ item.income }} </span>
               <span class="finstat__bar-outcome"> -{{ item.outcome }} </span>
            </div>
            <div class="col-md-4"></div>
         </div>
      {% endifchanged %}
      <div class="row finstat__highlight-row">
         <div class="col-md-2"></div>
         <div class="col-md-4 finstat__separator format__right">
            <div class="format__inline-block format__ellipsis format__minor">{{ item.category }}</div>
            <div class="format__inline-block finstat__money">
               {% if item.income > 0 %}
                  <span class="finstat__bar-income"> +{{ item.income }} </span>
               {% else %}
                  <span class="finstat__bar-outcome"> -{{ item.outcome }} </span>
               {% endif %}
            </div>
         </div>
         <div class="col-md-3 format__ellipsis">{{ item.comment }}</div>
         <div class="col-md-1 format__minor">
            {% if item.account_from %}
               {{ item.account_from }}
            {% endif %}
            {% if item.account_to %}
               <span class="glyphicon glyphicon-arrow-right"></span>
               {{ item.account_to }}
            {% endif %}
         </div>
         <div class="col-md-2"></div>
      </div>
   {% endfor %}
   </div>

   <div id="finstat__new-record_dialog" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">Add new transaction
               <div class="lgv__ajax-form">
                  {% include "finstat/transactions/dialog.html" %}
               </div>
            </div>
            <div id="#finstat__dialog-container"></div>
         </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
{% endblock %}