.finstat__bar {
   border: 1px solid sandybrown;
   position: relative;
}

.finstat__bar div {
   display: inline-block;
   vertical-align: middle;
}

.finstat__bar-index {
   bottom: 0;
   color: gray;
   font-size: 0.5em;
   margin-right: 2px;
   position: absolute;
   right: 100%;
}

.finstat__bar-period {
   border: 1px solid peachpuff;
   margin: 0 2px;
   text-align: right;
   width: 7em;
}

.finstat__bar-content {
   border: 1px solid darkcyan;
}

.finstat__bar-income {
   color: yellowgreen;
}

.finstat__bar-outcome {
   color: indianred;
}

.finstat__bar-outcome:not(:empty)::before {
   /*color: indianred;*/
   content: "-";
}

.finstat__bar-income,
.finstat__bar-outcome {
   width: 60px;
   text-align: right;
}

.finstat__bar-category {
   width: 300px;
   padding: 0 5px;
}