html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}
#layout__wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    position: relative
}
#layout__footer {
    height: 50px;
}

#layout__wrapper,
#layout__footer {
    min-width: 1024px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#layout__footer-content {
    border: 1px solid magenta;
    height: 50px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
}
.layout__push {
    height: 50px;
    clear: both;
}

#layout__header {
    height: 50px;
}
#layout__header-content {
    border: 1px solid magenta;
    height: 50px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
}
#layout__content {
    height: 100%;
}
#layout__sidebar {
    border: 1px solid skyblue;
    width: 200px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
}
#layout__main {
    margin-right: 202px
}
