<div class="col-md-2"></div>
<div class="col-md-4 finstat__separator format__right">
   <div class="format__inline-block format__ellipsis format__minor"><%= category %></div>
   <div class="format__inline-block finstat__money">
               <span
                     class="<%= rowClass %> ext__editable-for-update"
                     data-type="text"
                     data-name="amount"
                     data-url="/finstat/api/transactions/<%= id %>"
                     data-title="Сумма"
               ><%= amount %></span>
   </div>
</div>
<div class="col-md-3 format__ellipsis"><%= comment %></div>
<div class="col-md-1 format__minor">
   <%= account_from %>
   <% if (account_to) { %>
   <span class="glyphicon glyphicon-arrow-right"></span>
   <%= account_to %>
   <% } %>
</div>
<div class="col-md-2"></div>