.finstat__form-light-gutter > [class*='col-']
  padding-right: 4px
  padding-left: 4px

.finstat__form-accounts
  display: table
  width: 100%

.finstat__form-account
  display: table-cell
  width: auto

.finstat__form-accounts .glyphicon
  display: table-cell
  padding: 0 6px
  text-align: center
  vertical-align: middle
  width: 1em
