<form id="finstat__form-edit-transaction" class="form-inline finstat__form-light-gutter">
   <div class="col-md-1"></div>
   <div class="col-md-2 form-group format__relative">
      <div class="input-group">
            <span class="input-group-btn">
              <button id="finstat__form-date-dec" class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-chevron-left"></span>
              </button>
            </span>
         <input class="form-control ext__air-datepicker" id="id_date" name="date" type="text"
                value="<%=date%>">
         <span class="input-group-btn">
              <button id="finstat__form-date-inc" class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </span>
      </div>
   </div>
   <div class="col-md-2 form-group format__relative">
      <div class="input-group">
         <span class="input-group-addon">&#8381;</span>
         <input class="form-control" id="finstat__form-amount" name="amount" placeholder="Сумма" type="text"
                value="<%=amount%>">
         <span class="input-group-addon">.00</span>
      </div>
   </div>
   <div class="col-md-2 form-group format__relative">
      <select class="ext_selectable" id="id_fk_category" name="fk_category"></select>
   </div>
   <div class="col-md-2 form-group format__relative">
      <div class="finstat__form-accounts">
         <select class="ext_selectable finstat__form-account" id="id_fk_account_from" name="fk_account_from"></select>
         <span class="glyphicon glyphicon-refresh"></span>
         <select class="ext_selectable finstat__form-account" id="id_fk_account_to" name="fk_account_to"></select>
      </div>
   </div>
   <div class="col-md-1">
      <button type="button" id="finstat__form-submit" class="btn btn-primary">Сохранить</button>
   </div>
   <div class="col-md-2">
      <div class="col-md-12 format__right format__inline-block format__middle">
         <span class="glyphicon glyphicon-cog"></span>
      </div>
   </div>
   <div class="format__hidden" id="finstat__extra-popup-tpl">
      <div>
         <input id="id_fk_performer" name="fk_performer" type="hidden" value="1"/>
      </div>
   </div>
</form>