tr
   td
      span.finstat__interval-date <%= periodChanges %>
   td
      span.finstat__bar-income <%= income %>
      span.finstat__bar-outcome <%= outcome %>
      span.finstat__bar-no_changes &mdash;