.col-md-3
.col-md-3.finstat__separator.format__right
   span.finstat__interval-date <%= dateStr %>
.col-md-2
   span.finstat__bar-income
   span.finstat__bar-outcome
   span.finstat__bar-no_changes &mdash;
.col-md-4